@font-face {
    font-family: "luisa";
    src: url(font/LuÃ­sa.ttf);
}
@font-face {
    font-family: "spider";
    src: url(font/the_amazing_spider_man/The\ Amazing\ Spider-Man.ttf);
}


$font-principal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$cinza:#a2a2a2;
$gradiente1: linear-gradient(to top, #1a2841 0%, #0b1322 100%, #080a0e 100%);
$preto: #111111f3;
$vermelho: rgb(208, 4, 4);
$vermelho2:rgb(245, 13, 13);
$vermelho3: red;
$branco: #fff;
